#containerGame {
  position: absolute;
  text-align: center;
  width: 90%;
  height: 70%;
  left: 5%;
  top:20%;
}

#containerInsideGame {
  position: absolute;
  text-align: center;
  width: 90%;
  height: 60%;
  left: 5%;
  top: 55%;
}

.gameNameButton {
  margin-top: 5%;

  background-image : url("../img/dialogue_button_name.png");
  background-size: cover;

  content: "";
  width: 200px;
  height: 67px;
  outline-width: 250px;
  font-weight: bold;
  font-style: italic;

  text-align: center;

  padding-top: 8px;

  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}

.dropzone {
  background-color: transparent;
  border: solid 4px grey;
  border-radius: 4px;
  padding-top: 4px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
  height: 120px;

  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.dropzone-active {
  border-color: darkgreen;
}

.drag-drop {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
